<%= form_for(@canva) do |f| %>
  <% if @canva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canva.errors.count, "error") %> prohibited this canva from being saved:</h2>

      <ul>
      <% @canva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
